# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

*.gdoc
*.docx
*.npy
*.pptx

models/
scratch.ipynb
scratch.py
scratch2.py
scratch3.py
q_learn_test.ipynb
run.ipynb
Experiment.py
